* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  background-color: var(--main-background-color);
  font-family: "Bruno Ace", cursive;
  font-family: "DynaPuff", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Rubik Wet Paint", cursive;
  font-family: "Ubuntu", sans-serif;
}
/*  custom setting fixed */
:root {
  --main-background-color: #e9e9e9;
  --main-aLtBackground-color: #feffff;
  --main-color: #003356;
  --main-altColor: #00587d;
  --main-blur-color: #99a5bc;
  --shadow-mode: 1px 1.5px 9px #5d62628e;
  --main-reduce: 15px;
}
/* main container  */
.constrainer {
  width: 35%;
  height: 70vh;
  background-color: var(--main-aLtBackground-color);
  border-radius: var(--main-reduce);
  box-shadow: var(--shadow-mode);
  margin: auto;
}

/* start article calendar */

.month-name {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
}
i {
  margin-left: 0.1em;
  background-color: var(--main-altColor);
  padding: 0.5em;
  border-radius: 0.5em;
  color: var(--main-background-color);
  cursor: pointer;
  transition: 0.3s;
}

i:hover {
  background-color: var(--main-blur-color);
  color: var(--main-altColor);
}

/* horizontal line */

.hr {
  width: 100%;
  height: 1px;
  background-color: var(--main-blur-color);
  margin-top: -0.5em;
}

/* time  */

.time h2{
    text-align: center;
    padding: 1em;
    font-weight: bold;
    color: var(--main-color);
}

/* date */
.date{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    justify-content: center;
}

.date p {
    width: 2em;
    height: 2em;
    margin: 0 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    text-transform: capitalize;
}

/* current Day */

.active{
    background-color: var(--main-color);
    color: var(--main-background-color);
    border-radius: var(--main-reduce);
    box-shadow: var(--shadow-mode);
}

/*  blur days  */

.blur-days {
    color: var(--main-blur-color);
}

/* media query  */
@media only screen and (max-width:1200px) {
    .constrainer{
        height: 80%;
        width:50vw ;
    }
    
}
@media only screen and (max-width:992px) {
    .constrainer{
        width:20vw ;
        left: 10%;
    }
    
}
@media only screen and (max-width:768) {
    .constrainer{
        width:70vw ;
        left: 10%;
    }
    
}
@media only screen and (max-width:992px) {
    .constrainer{
        width:70vw ;
        left: 10%;
    }
    
}
/* end article calendar */
